@tailwind base;
@tailwind components;
@tailwind utilities;

.graph-paper {
  background-image: conic-gradient(
    at calc(100% - 2px) calc(100% - 2px),
    #a9a9a960 180deg,
    #0000 0
  );
  background-size:
    250px 250px,
    10px 10px;
}

.cus-grid-rows-3 {
  grid-template-rows: 1fr 100px 1fr;
}
